# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.java text
*.xml text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

models/numpy/*.npy filter=lfs diff=lfs merge=lfs -text
*.ckpt* filter=lfs diff=lfs merge=lfs -text
docker/* linguist-vendored
etcs/* linguist-vendored
images/* linguist-vendored
launch/* linguist-vendored
models/* linguist-vendored
msg/* linguist-vendored
scripts/* linguist-vendored
